<a href="https://colab.research.google.com/github/annywillow/Data/blob/main/Apache_Spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 2.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=e3e5f5f0979ab782fab5daaebef3606f5b55cd080e1f2ebed09cdd659f19bcfe
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import expr, col, sum, avg, count, when
spark = SparkSession.builder.appName("sparkIntro").getOrCreate

In [13]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import expr, col, sum, avg, count, when
spark = SparkSession.builder.appName("sparkIntro").getOrCreate()

In [16]:
stock_df = spark.read.csv('/content/drive/MyDrive/stock_data (1).csv', header= True, inferSchema= True)

In [17]:
stock_df.show(10)

+----------+--------------------+----------+--------+------+
|    Ticker|                Name|    Volume|   Price|Change|
+----------+--------------------+----------+--------+------+
|  ABBEYBDS|Abbey Mortgage Ba...|   224,580|    1.52| -0.16|
|  ABCTRANS|Associated Bus Co...|   370,378|    0.34| -0.02|
|   ACADEMY|       Academy Press|     4,760|    1.99|   0.0|
|ACCESSCORP| Access Holdings Plc|41,023,827|   14.25|   0.0|
| AFRINSURE|African Alliance ...|      NULL|    0.20|  NULL|
|  AFRIPRUD|Africa Prudential...| 1,332,872|    6.40|  0.15|
| AFROMEDIA|       Afromedia Plc|      NULL|    0.20|  NULL|
|     AIICO| Aiico Insurance Plc|19,952,840|    0.74|  0.04|
|AIRTELAFRI|   Airtel Africa Plc|    40,441|1,289.00|   0.0|
|      ALEX|Aluminium Extrusi...|      NULL|    6.50|  NULL|
+----------+--------------------+----------+--------+------+
only showing top 10 rows

In [18]:
stock_df.schema

StructType([StructField('Ticker', StringType(), True), StructField('Name', StringType(), True), StructField('Volume', StringType(), True), StructField('Price', StringType(), True), StructField('Change', DoubleType(), True)])

In [22]:
stock_df.limit(5).show()

+----------+--------------------+----------+-----+------+
|    Ticker|                Name|    Volume|Price|Change|
+----------+--------------------+----------+-----+------+
|  ABBEYBDS|Abbey Mortgage Ba...|   224,580| 1.52| -0.16|
|  ABCTRANS|Associated Bus Co...|   370,378| 0.34| -0.02|
|   ACADEMY|       Academy Press|     4,760| 1.99|   0.0|
|ACCESSCORP| Access Holdings Plc|41,023,827|14.25|   0.0|
| AFRINSURE|African Alliance ...|      NULL| 0.20|  NULL|
+----------+--------------------+----------+-----+------+

In [23]:
stock_df.schema

StructType([StructField('Ticker', StringType(), True), StructField('Name', StringType(), True), StructField('Volume', StringType(), True), StructField('Price', StringType(), True), StructField('Change', DoubleType(), True)])

In [24]:
stock_df.printSchema()

root
 |-- Ticker: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Volume: string (nullable = true)
 |-- Price: string (nullable = true)
 |-- Change: double (nullable = true)

In [25]:
stock_with_few_cols = stock_df.select(['Ticker', 'Volume', 'Price'])
stock_with_few_cols.show(5)

+----------+----------+-----+
|    Ticker|    Volume|Price|
+----------+----------+-----+
|  ABBEYBDS|   224,580| 1.52|
|  ABCTRANS|   370,378| 0.34|
|   ACADEMY|     4,760| 1.99|
|ACCESSCORP|41,023,827|14.25|
| AFRINSURE|      NULL| 0.20|
+----------+----------+-----+
only showing top 5 rows

In [26]:
stock_df.describe().show()

+-------+----------+--------------------+------------------+-----------------+--------------------+
|summary|    Ticker|                Name|            Volume|            Price|              Change|
+-------+----------+--------------------+------------------+-----------------+--------------------+
|  count|       156|                 156|               121|              156|                 121|
|   mean|  Infinity|                NULL|             250.8|24.71836601307189|-0.03826446280991...|
| stddev|      NULL|                NULL|235.66756246883023|70.02011350561236|  0.3294128050687324|
|    min|  ABBEYBDS|AXA Mansard Insur...|         1,002,000|             0.20|                -2.0|
|    max|ZENITHBANK|     Zenith Bank Plc|           836,301|            86.00|                 1.4|
+-------+----------+--------------------+------------------+-----------------+--------------------+

In [27]:
transformed_df = stock_df.withColumn('TaxDeduction', stock_df['Price'] - (stock_df['Price']*0.05))
transformed_df.show(3)

+--------+--------------------+-------+-----+------+------------+
|  Ticker|                Name| Volume|Price|Change|TaxDeduction|
+--------+--------------------+-------+-----+------+------------+
|ABBEYBDS|Abbey Mortgage Ba...|224,580| 1.52| -0.16|       1.444|
|ABCTRANS|Associated Bus Co...|370,378| 0.34| -0.02|       0.323|
| ACADEMY|       Academy Press|  4,760| 1.99|   0.0|      1.8905|
+--------+--------------------+-------+-----+------+------------+
only showing top 3 rows

In [29]:
from pyspark.sql.functions import lit

In [30]:
# Create column from a literal value
transformed_df.withColumn('Identifier', lit('stock')).show(5)

+----------+--------------------+----------+-----+------+------------+----------+
|    Ticker|                Name|    Volume|Price|Change|TaxDeduction|Identifier|
+----------+--------------------+----------+-----+------+------------+----------+
|  ABBEYBDS|Abbey Mortgage Ba...|   224,580| 1.52| -0.16|       1.444|     stock|
|  ABCTRANS|Associated Bus Co...|   370,378| 0.34| -0.02|       0.323|     stock|
|   ACADEMY|       Academy Press|     4,760| 1.99|   0.0|      1.8905|     stock|
|ACCESSCORP| Access Holdings Plc|41,023,827|14.25|   0.0|     13.5375|     stock|
| AFRINSURE|African Alliance ...|      NULL| 0.20|  NULL|        0.19|     stock|
+----------+--------------------+----------+-----+------+------------+----------+
only showing top 5 rows

In [31]:
# Creating conditional column using the when expression
ranked_stock = stock_df \
    .select("Ticker", "Name",\
    when(col("Price") <= 500, "Poor stock") \
    .otherwise('High performance stock') \
    .alias("StockRanking")).show()

+----------+--------------------+--------------------+
|    Ticker|                Name|        StockRanking|
+----------+--------------------+--------------------+
|  ABBEYBDS|Abbey Mortgage Ba...|          Poor stock|
|  ABCTRANS|Associated Bus Co...|          Poor stock|
|   ACADEMY|       Academy Press|          Poor stock|
|ACCESSCORP| Access Holdings Plc|          Poor stock|
| AFRINSURE|African Alliance ...|          Poor stock|
|  AFRIPRUD|Africa Prudential...|          Poor stock|
| AFROMEDIA|       Afromedia Plc|          Poor stock|
|     AIICO| Aiico Insurance Plc|          Poor stock|
|AIRTELAFRI|   Airtel Africa Plc|High performance ...|
|      ALEX|Aluminium Extrusi...|          Poor stock|
|    ARBICO|          Arbico Plc|          Poor stock|
|    ARDOVA|          Ardova Plc|          Poor stock|
|ASOSAVINGS| Aso Savings & Loans|          Poor stock|
| AUSTINLAZ|Austin Laz & Company|          Poor stock|
|     BAPLC|Briclinks Africa Plc|          Poor stock|
|    BERGER|       Berger Paints|          Poor stock|
|  BETAGLAS|  Beta Glass Company|          Poor stock|
| BUACEMENT|      BUA Cement Plc|          Poor stock|
|  BUAFOODS|           BUA Foods|          Poor stock|
|   CADBURY|     Cadbury Nigeria|          Poor stock|
+----------+--------------------+--------------------+
only showing top 20 rows

In [32]:
# Dropping columns of a dataframe
transformed_df = transformed_df.drop('Change')
transformed_df.show(3)

+--------+--------------------+-------+-----+------------+
|  Ticker|                Name| Volume|Price|TaxDeduction|
+--------+--------------------+-------+-----+------------+
|ABBEYBDS|Abbey Mortgage Ba...|224,580| 1.52|       1.444|
|ABCTRANS|Associated Bus Co...|370,378| 0.34|       0.323|
| ACADEMY|       Academy Press|  4,760| 1.99|      1.8905|
+--------+--------------------+-------+-----+------------+
only showing top 3 rows

In [33]:
# Rename a column
transformed_df = transformed_df.withColumnRenamed('Volume', 'Stock_volume')
transformed_df.show(3)

+--------+--------------------+------------+-----+------------+
|  Ticker|                Name|Stock_volume|Price|TaxDeduction|
+--------+--------------------+------------+-----+------------+
|ABBEYBDS|Abbey Mortgage Ba...|     224,580| 1.52|       1.444|
|ABCTRANS|Associated Bus Co...|     370,378| 0.34|       0.323|
| ACADEMY|       Academy Press|       4,760| 1.99|      1.8905|
+--------+--------------------+------------+-----+------------+
only showing top 3 rows

In [34]:
# Rename a column
transformed_df = transformed_df.withColumnRenamed('Volume', 'StockVolume')
transformed_df.show(3)

+--------+--------------------+------------+-----+------------+
|  Ticker|                Name|Stock_volume|Price|TaxDeduction|
+--------+--------------------+------------+-----+------------+
|ABBEYBDS|Abbey Mortgage Ba...|     224,580| 1.52|       1.444|
|ABCTRANS|Associated Bus Co...|     370,378| 0.34|       0.323|
| ACADEMY|       Academy Press|       4,760| 1.99|      1.8905|
+--------+--------------------+------------+-----+------------+
only showing top 3 rows

In [35]:
## Filter dataframe using conditionals
filtered_df = stock_df.filter('Price >= 100')
filtered_df.show(10)

+--------+--------------------+---------+------+------+
|  Ticker|                Name|   Volume| Price|Change|
+--------+--------------------+---------+------+------+
|BUAFOODS|           BUA Foods|  240,781|135.75|   0.0|
| DANGCEM|      Dangote Cement|  256,585|284.00|   0.0|
|  GEREGU|    Geregu Power Plc|   15,499|312.00|   0.0|
|    MTNN|         MTN Nigeria|2,097,876|274.00|   0.0|
|    NESF|Nigeria Energy Se...|     NULL|552.20|  NULL|
|OKOMUOIL|      Okomu Oil Palm|  338,508|236.40|   0.0|
|  PRESCO|          Presco Plc|  245,354|180.00|   0.0|
|   TOTAL|       Total Nigeria|  446,267|336.70|   0.0|
+--------+--------------------+---------+------+------+

In [36]:
## Filtering with the NOT conditional
stock_df.filter(~(stock_df['Price'] >= 100)).show(10)

+----------+--------------------+----------+-----+------+
|    Ticker|                Name|    Volume|Price|Change|
+----------+--------------------+----------+-----+------+
|  ABBEYBDS|Abbey Mortgage Ba...|   224,580| 1.52| -0.16|
|  ABCTRANS|Associated Bus Co...|   370,378| 0.34| -0.02|
|   ACADEMY|       Academy Press|     4,760| 1.99|   0.0|
|ACCESSCORP| Access Holdings Plc|41,023,827|14.25|   0.0|
| AFRINSURE|African Alliance ...|      NULL| 0.20|  NULL|
|  AFRIPRUD|Africa Prudential...| 1,332,872| 6.40|  0.15|
| AFROMEDIA|       Afromedia Plc|      NULL| 0.20|  NULL|
|     AIICO| Aiico Insurance Plc|19,952,840| 0.74|  0.04|
|      ALEX|Aluminium Extrusi...|      NULL| 6.50|  NULL|
|    ARBICO|          Arbico Plc|      NULL| 1.03|  NULL|
+----------+--------------------+----------+-----+------+
only showing top 10 rows

In [37]:
# Filtering using where and a single condition
stock_df.where(col("Ticker") == "AFROMEDIA").show()

+---------+-------------+------+-----+------+
|   Ticker|         Name|Volume|Price|Change|
+---------+-------------+------+-----+------+
|AFROMEDIA|Afromedia Plc|  NULL| 0.20|  NULL|
+---------+-------------+------+-----+------+

In [38]:
# Filtering using where and multiple condition
stock_df.where((col("Price") >= 100) & (col("Price") <= 500)).show()

+--------+----------------+---------+------+------+
|  Ticker|            Name|   Volume| Price|Change|
+--------+----------------+---------+------+------+
|BUAFOODS|       BUA Foods|  240,781|135.75|   0.0|
| DANGCEM|  Dangote Cement|  256,585|284.00|   0.0|
|  GEREGU|Geregu Power Plc|   15,499|312.00|   0.0|
|    MTNN|     MTN Nigeria|2,097,876|274.00|   0.0|
|OKOMUOIL|  Okomu Oil Palm|  338,508|236.40|   0.0|
|  PRESCO|      Presco Plc|  245,354|180.00|   0.0|
|   TOTAL|   Total Nigeria|  446,267|336.70|   0.0|
+--------+----------------+---------+------+------+

In [39]:
# Sorting result/records of Dataframe
stock_df.orderBy(col('Volume').asc()).show()

+----------+--------------------+------+------+------+
|    Ticker|                Name|Volume| Price|Change|
+----------+--------------------+------+------+------+
|PREMPAINTS|      Premier Paints|  NULL| 10.00|  NULL|
|      NESF|Nigeria Energy Se...|  NULL|552.20|  NULL|
|  ENAMELWA|Nigerian Enamelwa...|  NULL| 17.75|  NULL|
| AFRINSURE|African Alliance ...|  NULL|  0.20|  NULL|
| AFROMEDIA|       Afromedia Plc|  NULL|  0.20|  NULL|
|  NIGERINS|Niger Insurance C...|  NULL|  0.20|  NULL|
|    ARBICO|          Arbico Plc|  NULL|  1.03|  NULL|
|    NOTORE|Notore Chemical I...|  NULL| 62.50|  NULL|
| AUSTINLAZ|Austin Laz & Company|  NULL|  2.03|  NULL|
|  CAPHOTEL|   Capital Hotel Plc|  NULL|  2.50|  NULL|
|    CAPOIL|     Capital Oil Plc|  NULL|  0.20|  NULL|
|  EUNISELL|Eunisell Interlin...|  NULL|  2.91|  NULL|
| CHELLARAM|      Chellarams Plc|  NULL|  1.33|  NULL|
|  GOLDBREW|Golden Guinea Bre...|  NULL|  1.06|  NULL|
|    DUNLOP|DN Tyre & Rubber Plc|  NULL|  0.20|  NULL|
|GOLDINSURE|  Goldlink Insurance|  NULL|  0.20|  NULL|
| MULTITREX|Multi-Trex Integr...|  NULL|  0.36|  NULL|
|  INFINITY|Infinity Trust Mo...|  NULL|  1.22|  NULL|
|ASOSAVINGS| Aso Savings & Loans|  NULL|  0.50|  NULL|
|      JULI|            Juli Plc|  NULL|  0.79|  NULL|
+----------+--------------------+------+------+------+
only showing top 20 rows

In [40]:
# Checking for distinct count of values in a column
stock_df.select('Ticker').distinct().count()

156