<a href="https://colab.research.google.com/github/annywillow/flo/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd

data = {'BL': [5.6,5,5.8,3,7,4.6,7,5.6,5,5.8], 
        'BAS': [6,7,5.25,5.5,6.5,4.75,6,5.5,6.25,7],
        'BAW': [4,5,6,2,7,4.25,6,5,5.25,6],
        'PQ': [6,7,6,5.25,5.25,6,1,5.25,6,6.25],
        'OBE': [6,5,6,5.5,7,6,5,6,7,6.5]}
df = pd.DataFrame(data)


df.info()

print(len(df),"\n")
print(df.shape,"\n")
print(df.index,"\n")
print(df.columns,"\n")
print(df.info(),"\n")
print(df.count(),"\n")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   BL      10 non-null     float64
 1   BAS     10 non-null     float64
 2   BAW     10 non-null     float64
 3   PQ      10 non-null     float64
 4   OBE     10 non-null     float64
dtypes: float64(5)
memory usage: 528.0 bytes
10

(10, 5)

RangeIndex(start=0, stop=10, step=1)

Index(['BL', 'BAS', 'BAW', 'PQ', 'OBE'], dtype='object')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   BL      10 non-null     float64
 1   BAS     10 non-null     float64
 2   BAW     10 non-null     float64
 3   PQ      10 non-null     float64
 4   OBE     10 non-null     float64
dtypes: float64(5)
memory usage: 528.0 bytes
None

BL     10
BAS    10
BAW    10
PQ     10
OBE    10
dtype: int64